@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root{
    --clr-primary: #FF0066;
    --clr-secondary: #2D2D2D;
    --clr-tertiary: #111111;

    --f-clr-primary: #FFFFFF;
    --f-clr-secondary: #747474;
    --f-clr-tertiary: #929292;

    --ff-primary: 'Bebas Neue', cursive;
    --ff-secondary: 'Roboto', sans-serif;
    --ff-tertiary: 'Montserrat', sans-serif;

    --ff-header: var(--ff-primary);
    --ff-heading: var(--ff-tertiary);
    --ff-body: var(--ff-secondary);

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;

    --fs-300: .875rem; /* Detalhes e resumo filme */
    --fs-400: 1rem; /* Título do filme no slider, avaliação, informações do elenco e ficha técnica */
    --fs-500: 1.125rem; /* Títulos das secçÕes e navbar */
    --fs-600: 2.25rem; /* H2 e título do filme em detalhes */
    --fs-700: 3rem; /* H1 header */
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin, padding, font */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html, body{
    height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Remove link default behavior */
a { 
  color: inherit;
  text-decoration: none;
}



body{
  font-size: var(--fs-400);
  font-style: var(--ff-body);
  color: var(--f-clr-primary);
  background-color: var(--clr-secondary);
  font-weight: var(--fw-regular);
}

h1{
  font-size: var(--fs-700);
  font-family: var(--ff-primary);
  color: var(--clr-primary);
  letter-spacing: calc(var(--fs-700) * 0.04);
}

h2{
  font-size: var(--fs-600);
  font-family: var(--ff-tertiary);
  font-weight: var(--fw-bold);
  letter-spacing: calc(var(--fs-500) * 0.04);
  line-height: 2.75rem;
}

h3{
  font-size: var(--fs-500);
  font-weight: var(--fw-medium);
  letter-spacing: calc(var(--fs-500) * 0.04);
  border-left: 4px solid var(--clr-primary);
  padding-left: 0.2em;
  line-height: 1rem;
}

header{
    display: flex;
    align-items: center;
    max-height: 4rem;
    width: 100%;
    padding: 0.5em 1em;
    background-color: #343434;
}

.header-title{
  display: inherit;
}

.header-title h1{
  padding: 0.1em 0 0 0.1em;
  white-space: nowrap;
}

.header-list li{
  display: inline;
  padding-left: 3em;
  font-size: var(--fs-500);
  font-family: var(--ff-body);
  font-weight: var(--fw-medium);
  letter-spacing: calc(var(--fs-500) * 0.04);
}

.background{
  display: flex;
  align-items: center;
  padding-left: 3.5em;
  height: 30vh;
  width: 100%;
  background: url('./images/homepageBg.jpg') black;
  background-position: center center;
  background-size: cover;
}

.background h2{
  width: 20ch;
  text-shadow: 0 4px black;
}

main{
  font-family: var(--ff-body);
  background-color: var(--clr-tertiary);
}

.section-1, .section-2{
  margin: 1em 1.5em;
}

.carrossel{
  display: flex;
  flex-wrap: wrap; /* Quebra a linha aqui */
  width: 100%;
}

.card{
  min-height: 25vh;
  width: 15%;
  margin: 1em 2em;
}

.card-content{
  text-align: center;
  line-height: 1.75rem;
}

.card-content figure img{
  width: 100%;
  height: 100%;
  border-radius: 5%;
  padding-bottom: 0.5em;
}

.card-content p{
  font-size: var(--fs-400);
  color: var(--f-clr-tertiary);
}

.card-content p::before{
  content: url('./images/svg/star.svg');
  padding-right: 0.1em;
  width: 1em;
  height: 1em;
}

.card-content button{
  padding: 0.25em 1.25em;
  background-color: var(--clr-primary);
  color: inherit;
  border-radius: 10%;
  border: 0;
  margin-top: 0.25em;
}

