<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='styles/about.css' />
    <title>FIAP Movies - About</title>
</head>

<body>
    <%- include('templates/header') %> 
    <main>
        <div class="about-me">
            <div class="portrait">
                <figure>
                    <img src="/images/portrait.jpeg" alt="Foto do Leandro Luna fantasiado de Peter Pan" srcset="" title="Foto do Leandro Luna fantasiado de Peter Pan">
                </figure>
            </div>
            <div class="personal-info">
                <h2>Informações</h2>
                <h3>Nome: Leandro de Jesus Luna</h3>
                <br>
                <h3>RM: 86492</h3>
                <br>
                <h3>Turma: 3ECA</h3>
            </div>
        </div>
    </main>
    <%- include('templates/footer') %> 
</body>
</html>