<header>
    <div class="header-title">
        <img src="/images/svg/titleIcon.svg" alt="Icone FIAP Movies" srcset="">
        <h1>Fiap Filmes</h1>
    </div>
    <ul class="header-list">
        <li>
            <a href="/">Filmes</a>
        </li>
        <li>
            <a href="/">Séries</a>
        </li>
        <li>
            <a href="https://github.com/LeandroLuna/FIAP-Movies-Web/tree/expressApp" target="_blank" rel="noopener">Sobre</a>
        </li>
    </ul>
</header>