@import "global.css";

.background{
  display: flex;
  align-items: center;
  padding-left: 3.5em;
  height: 30vh;
  width: 100%;
  background: url('/images/homepageBg.jpg') #111;
  background-position: center center;
  background-size: cover;
  box-shadow: inset 0 -1em 1em #111;
}
  

.background h2{
  width: 20ch;
  text-shadow: 0 4px black;
}

.section-1, .section-2{
  margin: 1em 1.5em;
}

.movies, .series{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}

.card{
  min-height: 25vh;
  width: 15%;
  margin: 1em 2em;
}

.card-content{
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 1.75rem;
  height: 100%;
}

.card-content figure img{
  width: 100%;
  height: 17.5em;
  border-radius: 5%;
  padding-bottom: 0.5em;
}

.card-content p{
  font-size: var(--fs-400);
  color: var(--f-clr-tertiary);
  margin-bottom: 0.25em;
}

.card-content p::before{
  content: url('/images/svg/star.svg');
  padding-right: 0.1em;
  width: 1em;
  height: 1em;
}

.card-content button{
  padding: 0.25em 1.25em;
  background-color: var(--clr-primary);
  color: inherit;
  border-radius: 10%;
  border: 0;
  margin: auto auto 0;
  width: 50%;
}

/* Min responsiveness */
@media screen and (max-width: 1000px) {
  .card{
    width: 30%;
  }
}

@media screen and (max-width: 600px) {
  nav{
    text-align: right;
  }
  .header-list{
    margin: 0.5em 0 0.5em 1em;
  }
  .header-list li{
    font-size: var(--fs-400);
    letter-spacing: calc(var(--fs-400) * 0.04);
    padding-left: 0.5em;
  }
  .header-list li:last-child{
    float: none;
  }
  .card{
    width: 50%;
  }
}