@import "../global.css";

.background{
  display: flex;
  min-height: 30vh;
  width: 100%;
  background-position: center center;
  background-size: cover !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
} 

.movie-informations{
  display: flex;
  height: 90%;
  width: 90%;
  margin: 2em 2em 1em;
}

.movie-informations figure{
  padding-right: 1em;
  border-radius: 5%;
  max-width: 20vw;
}

.movie-informations figure img{
  margin: auto;
  width: 80%;
  height: 100%;
  border-radius: 5%;
}

.movie-title-description{
  width: 60vw;
}

.movie-title-description h2{
  text-shadow: 0 4px black;
}

.movie-title-description p{
  font-size: var(--fs-300);
  font-weight: var(--fw-bold);
  color: var(--f-clr-fourth);
  letter-spacing: calc(var(--fs-300) * 0.04);
  line-height: 1rem;
  padding-top: 2em;
  text-shadow: 0 0 5px #000;
}

main{
  height: 100vh;
}

.section-1{
  display: flex;
  margin: 1em 1.5em;
}

.section-left{
  width: 80%;
}

.buttons button{
  padding: 0 2.5em;
  background-color: var(--clr-primary);
  color: var(--f-clr-primary);
  border-radius: 10%;
  border: 0;
  margin-right: 1em;
  height: 2em;
}

#button-icon-1::before, #button-icon-2::before{
  padding-right: 0.2em;
  vertical-align: middle;
}

#button-icon-1::before{
  content: url('/images/svg/leftArr.svg');
  zoom: 0.8;
}

#button-icon-2::before{
  content: url('/images/svg/web.svg');
}

.casting{
  width: 100%;
}

.casting h3{
  margin: 1em 0;
}

.cast-members{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1em;
}

.card{
  margin: 1em 1em 0 0;
  text-align: center;
  width: 17.5%;
}

.card-content-img figure img{
  display: inline-block;
  width: 6.25em;
  height: 6.25em;
  border: 3px solid var(--f-clr-primary);
  border-radius: 50%;
  margin: auto;
}

.card-content-img figure figcaption{
  margin-top: 1em;
}

.card-content-txt{
  margin-top: -6.25em;
  height: 10em;
  border-radius: 10%;
  width: 100%;
  background-color: var(--clr-secondary);
}

.card-content-txt p{
  color: var(--f-clr-secondary);
  padding-top: 6.5em;
  padding-bottom: 3em;
}

.section-right{
  min-width: 12.5%;
  background-color: var(--clr-secondary);
  padding: 1em;
  margin: 0 0 1em 10%;
}

.detailed-informations{
  margin: 1.5em 0;
}

.detailed-informations p{
  color: var(--f-clr-secondary);
}

